<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yourname.dntweaks</string>
	<key>CFBundleName</key>
	<string>DucNamTweaks</string>
	<key>CFBundleDisplayName</key>
	<string>DucNamTweaks</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSFaceIDUsageDescription</key>
	<string>DN Tweaks requires FaceID to secure your system configurations.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
